{{ define "content" }}
<form method="POST" action="/trips" class="card">
  <div class="form-grid">
    <div class="form-group">
      <label>Cavalo</label>
      <select name="tractor_id" required>
        <option value="">Selecione</option>
        {{ range .Tractors }}
        <option value="{{ .ID }}">{{ .Plate }} — {{ .Model }}</option>
        {{ end }}
      </select>
    </div>

    <div class="form-group">
      <label>Tanque/Carreta</label>
      <select
  id="trailer_id"
  name="trailer_id"
  required
  hx-get="/trips/new/bocas"
  hx-target="#bocas-container"
  hx-trigger="change"
  hx-include="#trailer_id"
>
      >
        <option value="">Selecione</option>
        {{ range .Trailers }}
        <option value="{{ .ID }}">{{ .Plate }} — {{ .Type }}</option>
        {{ end }}
      </select>
    </div>

    <div class="form-group">
      <label>Motorista</label>
      <select name="driver_id" required>
        <option value="">Selecione</option>
        {{ range .Drivers }}
        <option value="{{ .ID }}">{{ .Name }}</option>
        {{ end }}
      </select>
    </div>
  </div>

  <div id="bocas-container" style="margin-top: 22px;"></div>

  <div class="actions" style="margin-top: 22px;">
    <button class="btn btn-primary" type="submit">Criar viagem</button>
    <a class="btn btn-secondary" href="/trips">Cancelar</a>
  </div>
</form>
{{ end }}